*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding: 0;
    box-sizing:boredr-box;
    list-style:none;
    scroll-padding-top:2rem;
    scroll-behavior:smooth;
  
}
img{
    width:100%;
}
body{
    color:rgb(222, 173, 114);
}
header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: rgb(233, 178, 158);
    box-shadow: 0 8px 11px rgb(114, 80, 68/15%);
    padding:20px 100px;
    transition: 0.5s;
}



