body{
    background: rgb(228, 228, 244);
}

h1{
    text-align: center;
    border: ;
}
ul{
    display:flex;
    justify-content: space-between;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin:30px auto;
    padding: 20px;
    border-bottom:1px dashed #bcb0b0;
}
li{
    display:block;
   

}
  .grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:30px;
    grid-gap:40px;

}
.grid img {
 width:300px;
 border-radius: 10px;
}
